.movie {
  width: 100%;
  /* background-color: blue; */
  height: 50rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movie__intro {
  width: 80%;
}

.movie__backdrop {
  width: 100%;
  /* height: 500px; */
  object-fit: cover;
  object-position: 0 35%;
}

.movie__detail {
  align-items: center;
  width: 75%;
  display: flex;
  position: relative;
  bottom: 225px;
}

.movie__detailLeft {
  margin-right: 30px;
}

.movie__poster {
  width: 300px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.86) 0px 22px 40px 6px;
}

.movie__detailRight {
  color: white;
  display: flex;
  flex-direction: column;
  height: 450px;
  justify-content: space-between;
}

.movie__detailRightTop > div {
  text-shadow: 0px 0px 5px #000000;
  margin-bottom: 0.5rem;
}

.movie__name {
  font-weight: 600;
  font-size: 3rem;
}

.movie__voteCount {
  margin-left: 1rem;
}

.movie__genres {
  margin: 1.25rem 0;
}

.movie__genre {
  background-color: grey;
  padding: 0.5rem 2rem;
  border: 2px solid black;
  border-radius: 20px;
  margin-right: 1rem;
}

.movie__detailRightBottom {
  margin: 2rem 0;
  flex: 0.8;
  color: #000000;
}

.synopsisText {
  font-size: 1.5rem;
  color: #000000;
  margin-bottom: 1.25rem;
  font-weight: 600;
  display: flex;
  position: relative;
  align-items: center;
}
.synopsisText > div:last-of-type {
  margin-left: auto;
}
